.container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 2rem 3rem;
}

.table {
    margin: 3px auto;
    width: 95%;
}

.logo {
    margin-right: 2rem;
}

.navbar-brand {
    cursor: default;
}

#cityName {
    text-transform: capitalize;
}
